#container {
  margin: 0px;
  width: 100%;
  min-height: 100vh;
}

#container .sejt-billede {
  width: 100vw;
  min-height: 342vh;
  height: fit-content;
  margin: 0 auto;
  border-radius: 0px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@keyframes textAnim {
  from {
    opacity: 0;
    top: 15px;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}

.first {
  animation: textAnim 600ms ease;
  animation-fill-mode: forwards;

  animation-delay: 400ms;
}

.second {
  animation: textAnim 600ms ease;
  animation-fill-mode: forwards;

  animation-delay: 700ms;
}

.third {
  animation: textAnim 800ms ease;
  animation-fill-mode: forwards;

  animation-delay: 1200ms;
}

.introduktion h1 span span {
  position: relative;
  top: 0;
  opacity: 0;
}

#container .introduktion-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 5rem);
  margin: 0;
  align-items: center;
  justify-content: center;
}

#container .introduktion-container.small {
  height: 50vh;
}

#container .introduktion h1 {
  text-align: center;
  font-size: 7em;
  text-transform: uppercase;

}

#container .introduktion .liv {
  font-size: 1.22em;
}


span.communist {
  font-weight: bold;
  color: var(--romania-red) !important;
}

#container .introduktion .communism span {
  color: var(--romania-red);
}

.container.visible {
  opacity: 1;
}


.container {
  display: flex;
  justify-content: start;
  width: 100%;
  align-items: center;
  min-height: 50vh;
  padding: 0px 8vw;

  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.container .bubble {
  width: 70vw;
  background-color: var(--secondary);
  color: var(--background);
  border-radius: 10px;
  padding: 20px 40px;

  display: flex;
  gap: 6em;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  transition: left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955), right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  left: unset;
  right: 10px;
}

.container.visible:nth-child(odd) .bubble {
  left: 0px;
}

.container.visible:nth-child(even) .bubble {
  right: 0px;
}

.container .bubble .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .bubble .right {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  gap: 20px;
}

.container .bubble img.right {
  border-radius: 10px;
  paddin: 20px 40px;
  margin: 20px 20px 20px 00px;
  /*  box-shadow: 8px 8px 5px #22222288;*/
}

.container .bubble .right img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.container.blue .bubble {
  background-color: var(--accent);
}

.container:nth-child(odd) {
  justify-content: end;
}

.container:nth-child(odd) .bubble {
  background-color: var(--background);
  left: 10px;
  right: unset;
}

.container .bubble * {
  color: var(--text);
}

.container.blue .bubble * {
  color: var(--background);
}

.container.inverted bubble * {
  color: var(--secondary);
}

.container .bubble h1 {
  text-align: left;
}

.container .bubble p {
  white-space: pre-wrap;
}

.container .bubble p {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
}