/*  Definitions  */


/* use names like --primary instead of actual colors */
/* that way we can easily change how the website looks */
:root {
  --text: #2b2b2c;
  --background: #E0DFF1;
  --primary: #EAE9FC;
  --secondary: #e4ae45;
  --accent: #2a55cf;

  --romania-red: #d82727;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  list-style: none;

  color: var(--text);
}

/*  Styling  */

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
}

.main-wrapper {
  width: 100%;
}

.navbar {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  color: var(--primary);
  position: sticky;
  top: 0px;
  z-index: 69;
  box-shadow: #22222222 1px 1px 1px 1px;
}

.navbar-logo a {
  margin: .5rem .75rem;
  text-decoration: none;
  color: var(--accent);
  padding: 2rem;
  display: block;
  font-size: 1.5rem;
  transition: .3s;
  font-weight: 300;
  list-style: none;
}

.navbar-logo a * {
  text-transform: uppercase;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--accent);
  padding: 2rem;
  display: block;
  font-size: 1.2rem;
  transition: .3s;
  font-weight: 500;
}

.navbar-links li:nth-child(-n + 2) a {
  color: var(--accent);
}

.navbar-links li:nth-child(n+3):nth-child(-n+4) a {
  color: var(--secondary);
}


.navbar-links li:nth-child(n+5):nth-child(-n+6) a {
  color: var(--romania-red);
}

.navbar-links li a:hover {
  transform: scale(115%);
}

.nav-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: .5rem;
  right: .5rem;
  padding: .5rem 1rem;
  font-size: 2.75rem;
  color: var(--text);
  text-decoration: none;
}

.main-content {
  padding: 1.5rem 5rem;
}

.main-info {
  display: flex;
}

.main-content h1 {
  font-size: 4.5rem;
  color: var(--text);
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  font-weight: 500;
}

.main-content p {
  color: var(--text);
  font-size: 1.5rem;
  max-width: 50%;
}

.main-content h2 {
  color: var(--text);
  font-size: 3rem;
}

.main-img {
  padding: 1.5rem 3rem;
}

.main-content2 {
  padding: 1.5rem 5rem;
  background-color: var(--background);
}

.main-info2 {
  display: flex;
}

.main-content2 h1 {
  font-size: 4.5rem;
  color: var(--text);
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  font-weight: 500;
}

.main-content2 p {
  color: var(--text);
  font-size: 1.5rem;
  max-width: 50%;
}

.main-content2 h2 {
  color: var(--text);
  font-size: 3rem;
}

.main-img2 {
  padding: 1.5rem 3rem;
}

.main-content3 {
  padding: 1.5rem 5rem;
}

.main-info3 {
  display: flex;
}

.main-content3 h1 {
  font-size: 4.5rem;
  color: var(--text);
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  font-weight: 500;
}

.main-content3 p {
  color: var(--text);
  font-size: 1.5rem;
  max-width: 50%;
}

.main-content3 h2 {
  color: var(--text);
  font-size: 3rem;
}

.main-img3 {
  padding: 1.5rem 3rem;
}

.main-hashtag {
  display: flex;
  justify-content: center;
}

.footer {
  padding: 1rem 0 2rem 0;
  background-color: var(--seconary);

}

.footer-links-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}

.footer-links-item {
  color: var(--text);
  display: flex;
  flex-direction: column;
}

.footer-links-item a {
  padding-bottom: .6rem;
  color: var(--text);
  text-decoration: none;
  transition: .3s;
}

.footer-links-item a:hover {
  color: var(--accent);
}

.footer-divider {
  color: #4f5a77;
  margin: 2rem 10% 2rem 10%;
}

.sponsors {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-sponsor {
  width: 12.5rem;
}

.website-rights {
  color: #4f5a77;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .nav-btn {
    display: flex;
  }

  .navbar-links {
    display: none;
  }

  .img-sponsor {
    width: 6rem;
  }

  .main-content {
    text-align: center;
  }

  .main-info {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}